/**
 * @file
 * Chat page stylesheet file.
 */

/* -------- Chat Style -------- */
.chat-content {
  margin-top: 5vh;
  padding: 20px;
}

.chat-content li {
  color: #3b4252;
  font-size: 20px;
  list-style-type: none;
  margin: 0px auto;

  margin-bottom: 10px;
}

#chat-window {
  height: 60vh;
  overflow-y: scroll;
}

.message-box {
  display: inline-block;

  padding: 3px 10px;

  font-size: 0.9em;

  color: #3b4252;

  border: 2px solid #2e3440;
}

.participant-message .message-box {
  background-color: #a3be8c;
  border-radius: 10%;
}

.own-message .message-box {
  text-align: right;
  background-color: #88c0d0;
  border-radius: 10%;
}

.participant-message {
  margin-left: 5%;
  margin-right: auto;
}

.own-message {
  text-align: right;
  margin-right: 5%;
  margin-left: auto;
}

.chat-title {
  padding-bottom: 10px;
  margin-bottom: 15px;

  text-align: center;
  text-decoration: underline 2px #88c0d0;
}

#login-name {
  padding-left: 2px;
  padding-right: 2px;
}

#logout-button {
  padding: 2px 4px;
}

#username-input {
  max-width: 600px;
}
