{% extends 'chatroom-base.html' %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/chat.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
{% endblock %}

{% block content %}
<div class="container chat-content">
  <div class="row">
    <div class="col">
      <div style="text-align: center; border: 5px solid #88c0d0; border-radius: 25px;">
      <h1>Create a Chat Room</h1>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.chatroom_name.label }}<br>
          {{ form.chatroom_name(size=32) }}
        </p>
        <p>
          {{ form.submit() }}
        </p>
      </form>
    </div>
    </div>
  </div>
</div>
{% endblock %}